{
  "singleQuote": true,
  "printWidth": 100,
  "overrides": [
    {
      "files": "*.md",
      "options": {
        "proseWrap": "always",
        "printWidth": 80,
        "singleQuote": true
      }
    },
    {
      "files": ["*.yaml", "*.yml"],
      "options": {
        "singleQuote": true
      }
    }
  ]
}
