:root {
  --accent: #373737;
  --accent-dark: #000d8a;
  --off-white: #f9f9f9
  --white: #f4f4f4;
  --black: #000000;
  --gray-lightest: #e6e6e6;
  --gray-soft: #d7cccc;
  --gray-light: #868686;
  --gray: hsl(40, 4%, 25%);
  --gray-dark: 34, 41, 57;
  --gray-gradient: rgba(var(--gray-light), 50%), #fff;
  --container-width: min(95vw, 39rem);
  --heading: var(#222);
  --text: #464646;
  --ff: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  --fs: 13px;
  --ff-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    Liberation Mono, Courier New, monospace;
  --fs-mono: 0.85em;
  --ff-serif: ui-serif, Georgia, Cambria, Times New Roman, Times, serif;
}

::selection {
  background-color: #ffeaba;
}

@font-face {
  font-family: 'Menlo';
  src: url('/fonts/Menlo-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: var(--ff);
  margin: 0;
  padding: 0;
  text-align: left;
  background-color: #fff;
  background-size: 100% 600px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  color: var(--text);
  font-size: var(--fs);
  font-weight: 400;
  line-height: 1.5;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  width: var(--container-width);
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
  transition: 0.2s ease-in;
}

main {
  width: 720px;
  max-width: calc(100% - 2em);
  margin-left: auto;
  margin-right: auto;
  padding: 3em 1em;
  /* text-align: justify; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-serif);
  color: var(--heading);
  font-weight: 400;
  position: relative;
  margin: 2em 0 1em;
}
h1 {
  font-size: 1.62em;
}

h2 {
  font-size: 1.32em;
}
h2::before {
  content: '';
  border-left: 5px solid var(--accent);
  position: absolute;
  left: -15px;
  height: 75%;
  top: 12%;
}
h3 {
  font-size: 1.32em;
}
h4 {
  font-size: 1.32em;
  color: var(--gray-light);
}
h5 {
  font-size: 1.12em;
  color: var(--gray-light);
}
h6 {
  font-size: 1em;
  color: var(--gray-light);
}

strong,
b {
  font-weight: 700;
}

a {
  color: var(--text);
  text-decoration: underline;
}
a:hover {
  color: #000;
  text-decoration: underline dotted;
}

p {
  margin-bottom: 2em;
}

textarea {
  width: 100%;
  font-size: 16px;
}
input {
  font-size: 16px;
}
table {
  width: 100%;
}
img,
video {
  max-width: 100%;
  height: auto;
  border-radius: 6px;
}
blockquote {
  border-left: 4px solid var(--gray-lightest);
  padding: 0 0 0 20px;
  margin: 0px;
}
mark {
  background-color: #ffe97e;
  padding: 0 0.2em;
  border-radius: 2px;
}
abbr {
  text-decoration: none;
  border-bottom: 1px dotted var(--gray-light);
}
hr {
  border: 0;
  border-bottom: 1px solid var(--gray-lightest);
  margin: 2em 0;
}
ul,
ol {
  text-align: left;
  margin-bottom: 2em;
}

code {
  padding: 0 0.4em;
  background-color: var(--off-white);
  border-radius: 2px;
  font-family: var(--ff-mono);
  font-size: var(--fs-mono);
  color: var(--gray-light);
}
pre {
  padding: 0.5em 1.5em;
  margin-bottom: 2em;
  border-radius: 6px;
  line-height: 1.3;
  background-color: var(--off-white);
}
pre > code {
  all: unset;
  font-family: var(--ff-mono);
  font-size: var(--fs-mono);
}

.prose {
  margin: 0 auto;
  text-align: left;
}
.prose a::after {
  content: '↗';
  color: var(--accent);
  display: inline-block;
  margin: 0 0 0 0.2em;
  font-weight: normal;
  font-size: 0.9em;

  transition-property: transform;
  transition-duration: 0.2s;
}
.prose a:hover::after {
  background: linear-gradient(90deg, magenta 0%, cyan 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: rgba(0, 0, 0, 0);
  animation: rainbow 2s ease-in-out infinite;
  transition: color 0.2s ease-in-out;
  background-size: 200% 200%;
  transform: translate(0.1rem, -0.1rem);
}

.emoji {
  font-size: 0.86em;
}

@keyframes rainbow {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}
