---
import Base from '@/layouts/Base.astro';
import { getCollection } from 'astro:content';

const notes = (await getCollection('notes')).sort((a, b) =>
  a.data.title.localeCompare(b.data.title),
);
---

<Base title="Notes" description="Quick notes and references on various topics">
  <section class="w-full pt-8 px-4 pb-10 leading-6">
    <h1>Notes</h1>
    <nav class="mt-4">
      <ul class="list-none p-0">
        {
          notes.map((note) => (
            <li class="inline-block mb-1" style="margin-right: 0.75em;">
              <a href={`/n/${note.id}`} class="hover:underline">
                {note.data.title}
              </a>
            </li>
          ))
        }
      </ul>
    </nav>
  </section>
</Base>
