---
	import "../../style/style.scss"
	import Top from "@components/Top";
	import Bottom from "@components/Bottom";
	const {title} = Astro.props;
---

<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<link rel="icon" type="image/svg+xml" href="/favicon.svg">
	<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,400;0,500;1,400&display=swap" rel="stylesheet">
	<title>{title}</title>
</head>
<body>
	<div class="main">
		<Top />
		<slot />
		<Bottom />
	</div>
</body>
</html>
