.content {
  text-align: justify;
  text-justify: inter-word;
  margin-bottom: 40px;

  p {
    margin: 0 0 1em;
  }

  pre {
    padding: 24px 20px;
    border-radius: 0px;
    margin-top: 22px;
    margin-bottom: 22px;
  }

  li {
    text-align: left;
  }
}
