@use "reset";
@use "variables";
@use "layout";
@use "content";

html {
	font-size: var( --html-font-size );
}

body {
	line-height: 1.6;
	tab-size: 4;
	font-weight: 400;
	font-family: 'Source Code Pro', monospace;
	background: var( --background-color );
	color: var( --text-color );
}	

a {
	text-decoration: none;
	color: hsl(143, 70%, 36%);

	&:hover, &:focus {
		//text-decoration: underline;
		color: hsl(143, 70%, 30%);
	}
}

ul, ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.post-header {
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 2rem;
}

h1.post-title {
	font-size: 1.25rem;
}