:root {
	--container-width: min(85vw, 46rem);
	--background-color-alt: hsl(188 10% 94%);
	--background-color: rgb(255, 255, 255);
	--text-color: hsl(35, 10%, 25%);
	--text-color-alt: hsl(35, 10%, 66%);

	--html-font-size: 13px;
}