:root {
  --container-width: min(85vw, 45rem);
  --background-color-alt: hsl(188 10% 94%);
  --background-color: rgb(255, 255, 255);
  --title-color: hsl(40, 4%, 20%);
  --text-color: hsl(40, 4%, 35%);
  --text-color-alt: hsl(35deg 6% 55%);
  --action-color: hsl(143, 70%, 36%);
  --html-font-size: 12px;
}
