:root {
	--container-width: min(85vw, 40rem);
	--background-color-alt: hsl(188 10% 94%);
	--background-color: rgb(255, 255, 255);
	--text-color: #222;
	--text-color-alt: hsl(188 12% 24%);

	--html-font-size: 14px;
}