---
const today = new Date();
---

<footer>
	Made with ❤ and <a target='_blank' href='https://github.com/daniele-salvagni/dan.salvagni.io/'>#Code</a>
</footer>
<style>
	footer {
		color: #d7cccc;
		margin-top: auto;
		padding: 1.75rem 5vw;
		text-align: center;
		font-size: .85rem;
		display: block;
	}
	footer a {
		color: #d7cccc;
	}
	/* .social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.social-links a:hover {
		color: rgb(var(--gray-dark));
	} */
</style>
