<div class="bottom">
	Made with ❤ and <a target='_blank' href='https://github.com/daniele-salvagni/dan.salvagni.io/'>#Code</a>
</div>

<style>
	.bottom {
		background-color: var( --background-color-alt );
		padding: 1.75rem 5vw;
		text-align: center;
		font-size: .85rem;
	}
	
	a { 
		color: var( --text-color-alt );
		text-decoration: none;
	}
</style>
