@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:400,700);

$roboto-mono: 'Roboto Mono', monospace;;

// Breakpoints
$medium-screen: 600px;
$large-screen: 900px;

// Typography
$base-font-family: $roboto-mono;
$heading-font-family: $roboto-mono;

// Font Sizes
$html-font-size: 13px;
$base-font-size: 1em;

// Line height
$base-line-height: 2;
$heading-line-height: 1.8;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$green: #44ac57;
$gray-0: #323232; // very dark
$gray-1: #535451; // dark
$gray-2: #807d77; // medium
$gray-3: #98978e; // medium light
$gray-4: #ebeae6; // light
$gray-5: #f6f6f6; // very light

$dark-gray: $gray-1;
$medium-gray: $gray-2;
$light-gray: $gray-3;

// Font Colors
$base-font-color: $medium-gray;
$action-color: $green;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: #fff;
$secondary-background-color: $gray-5;

// Animations
$base-duration: 150ms;
$base-timing: ease;
