<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta content='NOODP' name='robots'>
  <meta content='{{excerpt}}' name='description'>
  <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico"/>
  <title>{{title}}</title>
  <link rel="stylesheet" media="all" href="/assets/main.css" />
  <link href='feed://feeds.feedburner.com/#####' rel='alternate' type='application/rss+xml'>
</head>
<body>
  <div class='container'>

    {{#block "header"}}
    {{> header}}
    {{/block}}

    {{#block "main"}}
    <section id='main'>
      {{{contents}}}
    </section>
    {{/block}}

    {{#block "footer"}}
    {{> footer}}
    {{/block}}

  </div>
</body>
</html>
