---
import Blog from "@layouts/blog";
import Date from "@components/utilities/Date";
import { published, getRSS } from "@data/post"

export async function getStaticPaths({ rss }) {
	const markdownFiles = await Astro.glob('../../content/**/*.md');
	const posts = published( markdownFiles, 'soft');
	
	rss(getRSS(markdownFiles));

	return posts.map((soft) => {
		return {
			params: { soft: soft.slug },
			props: { soft }
		};
	})
}

// Destructure to get both `Astro.props.post` and `Astro.props.post.Content`
const { soft: { Content }, soft } = Astro.props;
---
<Blog title={soft.title}>
	<div class="post-header container">
		<h1 class="post-title">{soft.title}</h1>
	</div>
	<div class="content container">
		<Content />
	</div>
</Blog>
