---
import Base from '@/layouts/Base.astro';
---

<Base title="Projects">
  <section class="w-full pt-8 px-4 pb-10 leading-6">
    <h1>Projects</h1>
    <p class="text-stone-500 mt-4">Migration in progress...</p>
  </section>
</Base>
