{{#extend "default"}}
  {{#content "main"}}
  <section id='main'>
    <header class='page-title'>
        <h1 class='title'>Dan's Blog</h1>
        <p class='page-desc'>{{description}}</p>
    </header>

    <hr>

    <ul class="bloglist">
        {{#each collections.blog}}
            <li>
                <strong><a href='/{{this.path}}'>{{this.title}}</a></strong> - <span class='date'>{{this.date}}</span>
            </li>
        {{/each}}
    </ul>

    <hr>
  </section>
  {{/content}}
{{/extend}}
