{{#extend "default"}}
  {{#content "main"}}
  <section id='main'>
    <header class='page-title'>
        <h1 class='title'>Error</h1>
        <p class='page-desc'>The page you was looking for cannot be found.</p>
        <p class='page-desc'>Return to the <a href="/">Front Page</a>.</p>
    </header>

    <hr>
  </section>
  {{/content}}
{{/extend}}
