<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta content='NOODP' name='robots'>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Daniele Salvagni" />
  <meta name="keywords"  content="Daniele Salvagni, Computer Engineer, Informatico, Ingegnere, Developer, Programmazione" />
  <meta content='{{description}}' name='description'>
  <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico"/>
  <title>{{title}}</title>
  <link rel="stylesheet" media="all" href="/assets/main.css" />
</head>
<body>
  <!--<div id='particles'></div>-->
  <div class='container-home'>

    <header id='index-header'>
      <a href='/'><svg class='logo-home' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 237.17 145.95"><defs><style>.cls-1{fill:#323232;fill-rule:evenodd;}</style></defs><title>Asset 3</title><g id="Layer_2" data-name="Layer 2"><g id="_0" data-name="0"><g id="HATCH"><path class="cls-1" d="M109.46,30.41V0L41,91.22H68.67l-44.19,22.1L0,145.95,109.46,91.22V73H77.54ZM127.71,0V145.95H237.17Zm18.24,54.73,54.73,73H145.95Z"/></g></g></g></svg></a>
    </header>

    <section id='content-home'>
      {{{contents}}}
    </section>

    <footer id="index-footer">
    </footer>

  </div>
<footer id='footer'>
</footer>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-103034681-1', 'auto');
  ga('send', 'pageview');
</script>
</body>
<!--<script src='/assets/particles.js'></script>-->
</html>
