<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta content='NOODP' name='robots'>
  <meta content='{{excerpt}}' name='description'>
  <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico"/>
  <title>{{title}}</title>
  <link rel="stylesheet" media="all" href="/assets/main.css" />
  <link href='feed://feeds.feedburner.com/#####' rel='alternate' type='application/rss+xml'>
</head>
<body>
  <div id='particles'></div>
  <div class='container-home'>

    <header id='index-header'>
      <svg class='logo-home' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 237.17 145.95"><defs><style>.cls-1{fill:#323232;fill-rule:evenodd;}</style></defs><title>Asset 3</title><g id="Layer_2" data-name="Layer 2"><g id="_0" data-name="0"><g id="HATCH"><path class="cls-1" d="M109.46,30.41V0L41,91.22H68.67l-44.19,22.1L0,145.95,109.46,91.22V73H77.54ZM127.71,0V145.95H237.17Zm18.24,54.73,54.73,73H145.95Z"/></g></g></g></svg>
    </header>

    <section id='content'>
      {{{contents}}}
    </section>

    <footer id="index-footer">
    </footer>

  </div>
</body>
<script src='/assets/particles.js'></script>
</html>
