<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta content='NOODP' name='robots'>
  <meta content='{{excerpt}}' name='description'>
  <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico"/>
  <title>{{title}}</title>
  <link rel="stylesheet" media="all" href="/assets/main.css" />
  <link href='feed://feeds.feedburner.com/#####' rel='alternate' type='application/rss+xml'>
</head>
<body>
  <div class='container-home'>

    <header id='index-header'>
      <a href="/"><img class="logo-home" src="/img/logo-b-b.png" alt="Daniele Salvagni"></a>
    </header>

    <section id='content'>
      {{{contents}}}
    </section>

    <footer id="index-footer">
    </footer>

  </div>
</body>
</html>
