{{#extend "default"}}
  {{#content "main"}}
  <section id='main'>
    <article class="post" itemscope itemtype="http://schema.org/Article">
      <header>
        <h1 class="title" itemprop="name">{{title}}</h1>
      </header>
      <div class="content" itemprop="articleBody" style="text-align:justify;">{{{contents}}}</div>
    </article>
  </section>
  {{/content}}
{{/extend}}
