.hljs {
  padding: 1.5em 1.75em;
  margin: 1em 0;
  line-height: 1.5;
}

.hljs::selection, .hljs span::selection {
  background: $gray-4;
}

.hljs::-moz-selection, .hljs span::-moz-selection {
  background: $gray-4;
}

pre {
  overflow: auto;
  word-wrap: normal;
  white-space: pre;
}

.comment-body pre {
  padding: 1em;
  //background-color: #f6f8fa;
  background: #f2f2f2;
  color: #323232;
}

pre > code {
  font-size: 100%;
  word-break: normal;
  white-space: pre;
  background: transparent;

}

code {
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  margin: 0;
  background-color: $gray-5;
  border-radius: 3px;
}
