.container {
  //@include grid-container;
  @include margin(null auto);
  max-width: 57rem;
  //position: relative;
}

.main {

}

.page-title {
  text-align: center;
}

.page-desc {
  font-style: italic;
  color: $medium-gray;
}

.date {
  font-style: italic;
  color: $medium-gray;
}





.content ul, .content ol {
    padding-left: 2em;
    text-align: left;
    margin: 1.5em 0;
}

.content ul {
    list-style-type: disc;
}


.content li {
    display: list-item;
}