---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

export interface Props {
    content: {
        title: string;
        description: string;
        publishDate: string;
        excerpt: string;
    };
}

const {
    content: { title, description, excerpt, publishDate },
} = Astro.props as Props;
---

<html>

<head>
    <BaseHead title={title} description={excerpt} />
</head>

<body>
    <div class="main">
        <Header />

        <main class="content container">

            <header class="post-header">
                <h1 class="post-title">{title}</h1>
            </header>

            <div class="content-body">
                <slot></slot>
            </div>

        </main>

        <Footer />
    </div>
</body>

</html>

<style>
    h1.post-title {
        font-size: 1.25rem;
        text-transform: uppercase;
    }
</style>
